.back_to{
    text-decoration: none;
    color:white;
    background-color:#131921 ;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 12px;
    opacity: 0.8;
}
.amazon_footer_options a {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    font-size: 15px;

}
.amazon_footer_options strong{
    color:white;
}
.amazon_footer_options{
    display: flex;
    flex-direction: column;
}
.amazon_footer{
    background-color:#131921 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
}
.thanks{
    text-decoration: none;
    color:white;
    background-color:#131921 ;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60px;
   
    
}